body {
    background-color: aquamarine;
    padding-top: 20px;
}

#functions{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    width: 1150px;
    height: auto;
    padding: 20px;
}

#functions div p{
    width: 150px;
    font-size: 15px;
}

#functions div{
    margin-left: 30px;
    margin-right: 30px;
}

#taskList{
    margin-left: 100px;
}

li {
    font-family: 'Cambria';
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid rgb(21, 19, 19);
    box-shadow: 3px;
    text-align: left;
    text-indent: 50px;
    width: 830px;
}

li:hover {
    background-color: darkorchid;
    color: white;
}