body {
    background-color: aquamarine;
}

br{
    height: 6px;
}

#topline {
    display: flex;
    flex-direction: row;
    padding-left: 250px;
}
#topline div{
    margin: 20px;
}
#topline div button{
    border: 1px solid aquamarine;
    background-color: aquamarine;
    box-shadow: none;
    height: 20px;
    width: max-content;
}
#topline div button:hover{
    color: aliceblue;
}

#functions{
    background-color: rgb(255, 241, 203);
    width: 880px;
    height: auto;
    margin-left: 180px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 10px;

}

#functions div{
    margin: 20px;
    align-self: center;
}

#functions div p{
    font-size: 15px;
}

#functions div button{
    height: 30px;
    margin-top: 5px;
    border: 2px solid rgb(166, 0, 255);
}

#functions div button:hover{
    color: aliceblue;
    background-color: red;
}

#functions div{
    align-self: center;
    margin-right: 30px;
    display: none;
}

#taskList{
    margin-left: 50px;
}

li {
    font-family: 'Cambria';
    text-align: center;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid rgb(21, 19, 19);
    box-shadow: 3px;
    text-align: left;
    text-indent: 10px;
    width: 1000px;
}

li:hover {
    background-color: darkorchid;
    color: white;
}

