body {
    background-color: aquamarine;
}

br{
    height: 10px;
}

#topline {
    display: flex;
    flex-direction: row;
    padding-left: 270px;
}
#topline div{
    margin: 20px;
}

#functions{
    background-color: rgb(255, 241, 203);
    width: 800px;
    height: auto;
    margin-left: 200px;
    padding: 30px;

}

#functions div{
    margin: 20px;
    align-self: center;
}

#functions div div p{
    width: 150px;
    font-size: 15px;
}

#functions div{
    align-self: center;
    margin-right: 30px;
    display: none;
}

#taskList{
    margin-left: 50px;
}

li {
    font-family: 'Cambria';
    text-align: center;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid rgb(21, 19, 19);
    box-shadow: 3px;
    text-align: left;
    text-indent: 10px;
    width: 1000px;
}

li:hover {
    background-color: darkorchid;
    color: white;
}

